<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag---------->

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6" id="modifierProfil">
            <h3 class="text-center"> Modifier profil </h3>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Nom: </label>
                            <input type="text" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Prénom: </label>
                            <input type="text" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Numéro téléphone: </label>
                            <input type="text" class="form-control" placeholder=""
                                value="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adresse e-mail:</label>
                            <input type="email" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Date naissance: </label>
                            <input type="date" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Adresse:</label>
                            <input type="text" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Genre:</label>
                        <br>
                        <select name="genre" id="genre">
                            <option value="dog">Homme</option>
                            <option value="cat">Femme</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Mot de passe:</label>
                            <input type="password" class="form-control" placeholder="" value="">
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-md" value="Valider">
            </form>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <img class="card-img-top" src="/assets/profil.png" width="30%" height="300px" alt="photoProfil">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"> Nom et prénom: </h5>
                        <h6 class="card-text "> E-mail: </h6>
                        <h6 class="card-text "> Adresse: </h6>     
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>