<div class="newsletter">
<div class="texte">
<h2>
    -20% sur votre première<br> commande en vous abonnant <br>à nos newsletters !
</h2>
<p>
    Ne manquez pas nos excellentes offres <br>& Recevez des offres de tous nos meilleurs restaurants par e-mail
</p>    
</div>
    <div class="row">
        <div class="col-12 col-lg-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Saisir votre ville" value="">
                <input type="text" class="form-control" placeholder="E-mail" value="">
            </div>
            <input type="submit" name="submit" class="btn btn-md" value="ABONNEZ-VOUS À LA NEWSLETTER">
        </div>
        <div class="col-12 col-lg-2"></div>
</div>
</div>