<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <!--footer start-->
<div class="footer-wrap">
  <div class="container">
    
<div class="row">
    <div class="col-md-3 col-sm-6">
  <ul> 
    <h4> Ville </h4>
    <li><a href="#"> Sousse</a></li>
    <li><a href="#"> Monastir </a></li>
    <li><a href="#"> Nabeul </a></li>
    <li><a href="#"> Grand tunis </a></li>
    <li><a href="#"> Mahdia </a></li>
    <li><a href="#"> Sfax </a></li>
</ul>
</div>
<div class="col-md-3 col-sm-6">
<ul>
    <h4> Cuisine </h4>
     <li><a href="#"> Pizza </a></li>
     <li><a href="#"> Sandwichs </a></li>
     <li><a href="#"> Cuisine tunisienne </a></li>
     <li><a href="#"> Sushi </a></li>
     <li><a href="#"> Cuisine américaine </a></li>
     <li><a href="#">Burgers </a></li>
     <li><a href="#"> Fast-food</a></li>
 </ul>
</div>
<div class="col-md-3 col-sm-6">
<ul>
    <h4> Restaurants populaires </h4>
     <li><a href="#"> Pizza Hut </a></li>
     <li><a href="#"> Dar kmar Chez Bedia </a></li>
     <li><a href="#"> Joe's Pizza </a></li>
     <li><a href="#"> KFC </a></li>
 </ul>
</div>
<div class="col-md-3 col-sm-6">
<ul>
    <h4> Plateforme </h4>
     <li><a href="#"> à propos</a></li>
     <li><a href="#"> contact </a></li>
     <li><a href="#"> Devenir Livreur</a></li>
     <li><a href="#"> Devenir vendeur</a></li>
     <li><a href="#"> Rejoignez notre équipe ! </a></li>
</ul>
</div>
</div>
<div class="copyRidht">
    <p>copyright 2022 all rights reserved</p>
</div>



 
